body {
    background-color: #f0f1f3;
}
header {
    background-color: #289657;
    border-radius: 0 0 30px 30px;
}
.logo,
.profile {
    color: #fff;
}

.profile a {
    color: #fff;
}
.profile a:hover {
    color: #d4d4d4;
}
.profile i {
    width: 30px;
    height: auto;
}
#navSearchForm {
    width: 400px;
}
#datPhong {
    background-color: #289657;
    color: #fff;
}
#datPhong:hover {
    background-color: #1e6f48;
    color: #fff;
}
/* Kiểu chung cho thẻ phòng */
.room-card {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 100%;
    position: relative;
    z-index: 1;
}

.room-card:hover {
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
    transform: translateY(-5px) scale(1.02);
    z-index: 2;
}

/* Màu nền cho các trạng thái */
.status-using {
    background-color: #006768;
    color: white;
}
.status-unclean {
    background-color: #dc3545;
    color: white;
}
.status-clean {
    background-color: white;
    color: #000;
    border-color: #dee2e6;
}

/* Kiểu chữ nhỏ cho chi tiết */
.room-details small {
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

/* Thẻ trạng thái nhỏ ở góc */
.status-tag {
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-weight: bold;
}
.status-using {
    .status-tag {
        background-color: #fff;
        color: #006768;
    }
}
.status-clean {
    .status-tag {
        background-color: #f0f1f3;
    }
}
.status-clean small {
    color: #000;
}
