body {
    background-color: #f0f1f3;
}
header {
    background-color: #289657;
    border-radius: 0 0 30px 30px;
}
.logo,
.profile {
    color: #fff;
}

.profile a {
    color: #fff;
}
.profile a:hover {
    color: #d4d4d4;
}
.profile i {
    width: 30px;
    height: auto;
}
#navSearchForm {
    width: 400px;
}
